

.bg-fixed { 
  background-attachment: fixed; 
}


@media #{$breakpoint-not-small} {
  .bg-fixed-ns { 
    background-attachment: fixed; 
  }
}

@media #{$breakpoint-medium} {
  .bg-fixed-m { 
    background-attachment: fixed; 
  }
}

@media #{$breakpoint-large} {
  .bg-fixed-l { 
    background-attachment: fixed; 
  }
}
