@import '../tachyons/_variables';

.children-w-25 > * {
	width:25%;
}
.children-w-third > * {
	width:33.33%;
}
.children-w-50 > * {
	width:50%;
}

@media #{$breakpoint-large} {

	.children-w-25-l > * {
		width:25%;
	}
	.children-w-third-l > * {
		width:33.33%;
	}
	.children-w-50-l > * {
		width:50%;
	}

}