@import '../tachyons/_variables';

.ma0{
	&--fc:first-child { margin:0; }
	&--lc:last-child { margin:0; }
	&--oc:only-child { margin:0; }
	&--nc1:nth-child(1) { margin:0; }
}

@media #{$breakpoint-not-small} {

	

}

@media #{$breakpoint-medium} {

	

}

@media #{$breakpoint-large} {

	

}