
.container {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  @media #{$breakpoint-large} {
  	max-width: 1344px;
  }
  @media #{$breakpoint-extra-large} {
    max-width: 1540px;
  }
  &.is-fluid {
    max-width: none;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
}
