@import '../tachyons/_variables';

a {
	.links-underline &	{
		text-decoration:underline;
	}
	.links-no-underline &	{
		text-decoration:none;
	}
	.links-black &, .links-white .links-black &	{
		color:#000;
	}
	.links-white &, .links-black .links-white &	{
		color:#FFF;
	}
}