
.maxh-15 { max-height:15%; }
.maxh-20 { max-height:20%; }
.maxh-25 { max-height:25%; }
.maxh-30 { max-height:30%; }
.maxh-35 { max-height:35%; }
.maxh-40 { max-height:40%; }
.maxh-50 { max-height:50%; }
.maxh-60 { max-height:60%; }
.maxh-75 { max-height:75%; }
.maxh-80 { max-height:80%; }
.maxh-85 { max-height:85%; }
.maxh-90 { max-height:90%; }
.maxh-95 { max-height:95%; }
.maxh-100 { max-height:100%; }

.maxh-15vh { max-height:15vh; }
.maxh-20vh { max-height:20vh; }
.maxh-25vh { max-height:25vh; }
.maxh-30vh { max-height:30vh; }
.maxh-35vh { max-height:35vh; }
.maxh-40vh { max-height:40vh; }
.maxh-50vh { max-height:50vh; }
.maxh-60vh { max-height:60vh; }
.maxh-75vh { max-height:75vh; }
.maxh-80vh { max-height:80vh; }
.maxh-85vh { max-height:85vh; }
.maxh-90vh { max-height:90vh; }
.maxh-95vh { max-height:95vh; }
.maxh-100vh { max-height:100vh; }


@media #{$breakpoint-not-small} {
	.maxh-15-l { max-height:15%; }
	.maxh-20-l { max-height:20%; }
	.maxh-25-l { max-height:25%; }
	.maxh-30-l { max-height:30%; }
	.maxh-35-l { max-height:35%; }
	.maxh-40-l { max-height:40%; }
	.maxh-50-l { max-height:50%; }
	.maxh-60-l { max-height:60%; }
	.maxh-75-l { max-height:75%; }
	.maxh-100-l { max-height:100%; }

	.maxh-15vh-l { max-height:15vh; }
	.maxh-20vh-l { max-height:20vh; }
	.maxh-25vh-l { max-height:25vh; }
	.maxh-30vh-l { max-height:30vh; }
	.maxh-35vh-l { max-height:35vh; }
	.maxh-40vh-l { max-height:40vh; }
	.maxh-50vh-l { max-height:50vh; }
	.maxh-60vh-l { max-height:60vh; }
	.maxh-75vh-l { max-height:75vh; }
	.maxh-100vh-l { max-height:100vh; }
}