
.minw-15 { min-width:15%; }
.minw-20 { min-width:20%; }
.minw-25 { min-width:25%; }
.minw-30 { min-width:30%; }
.minw-35 { min-width:35%; }
.minw-40 { min-width:40%; }
.minw-50 { min-width:50%; }
.minw-60 { min-width:60%; }
.minw-75 { min-width:75%; }
.minw-100 { min-width:100%; }


@media #{$breakpoint-not-small} {
	.minw-15-l { min-width:15%; }
	.minw-20-l { min-width:20%; }
	.minw-25-l { min-width:25%; }
	.minw-30-l { min-width:30%; }
	.minw-35-l { min-width:35%; }
	.minw-40-l { min-width:40%; }
	.minw-50-l { min-width:50%; }
	.minw-60-l { min-width:60%; }
	.minw-75-l { min-width:75%; }
	.minw-100-l { min-width:100%; }
}