
.minh-10 { min-height:10%; }
.minh-15 { min-height:15%; }
.minh-20 { min-height:20%; }
.minh-25 { min-height:25%; }
.minh-30 { min-height:30%; }
.minh-35 { min-height:35%; }
.minh-40 { min-height:40%; }
.minh-50 { min-height:50%; }
.minh-60 { min-height:60%; }
.minh-75 { min-height:75%; }
.minh-80 { min-height:80%; }
.minh-85 { min-height:85%; }
.minh-90 { min-height:90%; }
.minh-95 { min-height:95%; }
.minh-100 { min-height:100%; }

.minh-10vh { min-height:10vh; }
.minh-15vh { min-height:15vh; }
.minh-20vh { min-height:20vh; }
.minh-25vh { min-height:25vh; }
.minh-30vh { min-height:30vh; }
.minh-35vh { min-height:35vh; }
.minh-40vh { min-height:40vh; }
.minh-50vh { min-height:50vh; }
.minh-60vh { min-height:60vh; }
.minh-75vh { min-height:75vh; }
.minh-80vh { min-height:80vh; }
.minh-85vh { min-height:85vh; }
.minh-90vh { min-height:90vh; }
.minh-95vh { min-height:95vh; }
.minh-100vh { min-height:100vh; }


@media #{$breakpoint-not-small} {
	.minh-10-l { min-height:10%; }
	.minh-15-l { min-height:15%; }
	.minh-20-l { min-height:20%; }
	.minh-25-l { min-height:25%; }
	.minh-30-l { min-height:30%; }
	.minh-35-l { min-height:35%; }
	.minh-40-l { min-height:40%; }
	.minh-50-l { min-height:50%; }
	.minh-60-l { min-height:60%; }
	.minh-75-l { min-height:75%; }
	.minh-100-l { min-height:100%; }

	.minh-10vh-l { min-height:10vh; }
	.minh-15vh-l { min-height:15vh; }
	.minh-20vh-l { min-height:20vh; }
	.minh-25vh-l { min-height:25vh; }
	.minh-30vh-l { min-height:30vh; }
	.minh-35vh-l { min-height:35vh; }
	.minh-40vh-l { min-height:40vh; }
	.minh-50vh-l { min-height:50vh; }
	.minh-60vh-l { min-height:60vh; }
	.minh-75vh-l { min-height:75vh; }
	.minh-100vh-l { min-height:100vh; }
}