.shadow-down { box-shadow:0px 5px 4px 2px rgba(0, 0, 0, 0.2) }
.shadow-down-muted { box-shadow:0px 3px 4px 0px rgba(0, 0, 0, 0.1) }
.shadow-inset-muted { box-shadow:inset 0 0 3px 1px rgba(0, 0, 0, 0.1) }

@media #{$breakpoint-not-small} {
	.shadow-down-l { box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.2) }
	.shadow-down-muted-l { box-shadow:0px 3px 4px 0px rgba(0, 0, 0, 0.1) }
	.shadow-inset-muted-l { box-shadow:inset 0 0 3px 1px rgba(0, 0, 0, 0.1) }
}

.shadow-none {
	box-shadow: none;
}