.hidden { visibility:hidden; }
.visible { visibility:visible; }

.invisible, .visually-hidden, .sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}