.pre {
	white-space: pre-line !important;
}

@media #{$breakpoint-not-small} {
	.pre-ns {
		white-space: pre-line !important;
	}
}

@media #{$breakpoint-medium} {
	.pre-m {
		white-space: pre-line !important;
	}
}

@media #{$breakpoint-large} {
	.pre-l {
		white-space: pre-line !important;
	}
}