    {
      "type": "header",
      "content": "Display Settings",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_desktop",
      "label": "Show desktop",
      "default": true,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_tablet",
      "label": "Show tablet",
      "default": true,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_mobile",
      "label": "Show mobile",
      "default": true,
      "info": ""
    },


{% include 'atb-section-visibility-vars' %}
{% include 'atb-section-visibility' %}